
.header-container{
    display: flex;
    width: 50%;
    margin-right: 20px;
  
}
.image-header{
    width: 3em;
    margin-right: 1em;
    height: 3em;
}
.image-header img{
    height:100%;
 
}
 .logo-header {
    display: inline-block;
    padding-top: 6px;
    font-size: 1.5em;
    color:#209869;
}
.logo-header h3{
    padding:0;
     margin:0;
}

.descricao{
    padding: 2em 2em 0em 0em;
    color:gray
    
}
