.column {
    float: left;
    width: 45%;
    margin-left: 50px;
}
.megasena{
    margin-left: 30px;
    border-right: 2px solid #808090;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    justify-content: center;
}
.col-1{
    flex:1.5;
    width: 100%;
    padding:10px
}
.col-mega{
    flex:1;
    padding: 0px;
    margin: 0;

}

.header-container{
    display: flex;
    width: 50%;
    margin-right: 20px;
    margin-left: 25px;
}
.image-header{
    width: 3em;
    margin-right: 1em;
    height: 3em;
}
.image-header img{
    height:100%;
 
}
 .megasena-logo-header {
    display: inline-block;
    padding-top: 6px;
    font-size: 1.5em;
    color:#209869;
}
.megasena-logo-header h3{
    padding:0;
     margin:0;
}

.description{
    padding: 2em 2em 0em 3em;
    color:gray
    
}
.megasena-value{
    color:#209869;
    padding: 0em 2em 2em 3em;
}
.col-mega ul li{
    display: inline-block;
    font-weight: 100;
    color:white;
    font-size:1.2rem;
    height: 10%;
    width: 8%;
    border-radius: 100%;
    background-color: #209869;
    margin-right: 25px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    margin-bottom: 15%;
    margin-top: 15%;
}
.col-mega ul{
    text-align: center;
}
.winners{
    color:#0066B3;

}
.gameDescription{
    color:grey;
}
hr{
    margin-left:2%;
    margin-right: 2%;
    border:1px solid #d5d9df!important;
   
}
.mega ul li{
    display: inline-block;
    font-weight: 100;
    color:white;
    font-size:1.2rem;
    padding: 6px 0px 5px 0px;
    height: 10%;
    width: 8%;
    border-radius: 100%;
    background-color: #209869;
    margin-right: 7%;
    text-align: center;
    line-height: 2em;
    font-weight: bold;

}
.mega ul{
    margin-bottom: 3%;
}
