.nav{
    padding: 30px;
}
.nav-lotofacil{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #930089;
    font-weight: bold;
    font-size: large;

}
.nav-megasena{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #209869;
    font-size: large;
   

}
.nav-quina{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #260085;
    font-size: large;
    

}

.disabled {
    color: #ddd;
    pointer-events: none;
}